body {
  color: #3f3f3d;
  font-family: "Avenir Next Condensed";
  color: whitesmoke;

}

/*HEADER */
.container-header {
  background-color: black;
  display: flex;
  width: auto;
}

.item-header-left {
  padding: 1vh 10vh 0vh 10vh;
  width: 10vw;
  flex-direction: row;
  justify-content: flex-start;
}

.item-header-right {
  padding: 0vh 10vh 0vh 10vh;
  width: 10vw;
  justify-content: flex-end;
}

/* Auch ein Container durch display: flex */
.item-header-right a {
  padding: 1vh 0vh 1vh 0vh;
  display: flex;
  color: aliceblue;
}

/* BODY */
.containerWhite {
  display: flex;
  padding-bottom: 3vh;
  width: 100%;
  background-color: white;
  color: black;
}

.containerLightGray {
  display: flex;
  padding-bottom: 3vh;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}

.containerBlack {
  display: flex;
  padding-bottom: 3vh;
  width: 100%;
  background-color: black;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5vh 3vw 0vh 3vw;
  flex: 1;
  justify-content: flex-start;
}

.item img {
  width: 15vw;
  height: 15vw;
  padding-bottom: 3vh;
  align-self: center;
}

.item-double {
  display: flex;
  padding: 5vh 0vh 0vh 5vh;
  flex: 2;
  justify-content: center;
}

.item-double img {
  height: 60vh;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0px 0px 0px 0px;
}

h2 {
  margin: 0px 0px 0px 0px;
}

button {
  padding: 1vh 1vw 1vh 1vw;
  background-color: transparent;
  color: inherit;
}

button a {
  text-decoration: none;
}

.containerBlack a {
  color: aliceblue;
}

.containerWhite a {
  color: #3f3f3d;
}

.containerLightGray a {
  color: #3f3f3d;
}

blockquote {
  font-size: x-large;
  font-style: italic;
}

.footer {
  text-align: center;
}

div {
  margin: 3px 3px 3px 3px;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .item-header-left {
    padding: 0vh 3vh 0vh 3vh;
    width: 10vw;
    flex-direction: row;
    justify-content: flex-start;
  }

  .containerWhite{
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .containerBlack {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .containerLightGray {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 5vh 5vw;
    flex: 1;
    text-align: center;
  }

  .item img {
    width: 60vw;
    height: 60vw;
    padding-bottom: 3vh;
    align-self: center;
  }

  .item-double img {
    height: 30vh;
  }

  .item-double {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 5vh 5vw;
    flex: 1;
    text-align: center;
  }

}